/* Font variabler */
$overskrift: "Spectral", serif;
$brodtekst: "Montserrat", sans-serif;


    /*Global text styling */
h1 {
    font-family: #{$overskrift};
    font-size: 40px;
    padding: 0;
    margin: 0;
    z-index: 2;
    color: $hvid;

}


h2 {
    font-family: #{$overskrift};
    font-size: 26px;
    text-align: center;
    font-weight: 500;
    color: $hvid;
}

h3 {
    font-family: #{$overskrift};
    font-size: 26px;
    margin-bottom: -12px;
    font-weight: 800;
}



p {
    font-family: #{$brodtekst};
    color: $hvid;
    line-height: 25px;
}



@media only screen and (max-width: 540px)  {
    h1 {
        font-size: 30px;
        text-align: center;
        padding: 0 10px;
    }

    h2 {
        font-size: 20px;
    }
}
